.sidebar {
    padding: 2% 2%;
    color: $font-white;
    width: 20vw;
    height: 100vh;
    &-brand {
        display: flex;
        padding: 4% 0;
        .avator {
            width: 4vw;
            height: 2.9vw;
            padding-right: 1vw;
        }
        .avator-content {
            padding-top: 2%;
            .avator-title {
                font-weight: 100;
                font-size: 1vw;
            }
            .avator-sub-title {
                font-weight: 500;
                font-size: 0.8vw;
            }
        }
    }
    hr {
        color: $font-white;
    }
    &-nav {
        .nav-media {
            padding: 8% 5%;

            &-title {
                font-size: 0.6vw;
                opacity: 0.5;
                color: $font-white;
                padding: 7% 0;
            }
            .nav-item {
                padding: 4% 0;
                .nav-link {
                    color: $font-white;
                    font-size: 1vw;
                    .nav-badge {
                        background-color: $font-white;
                        padding: 2% 4%;
                        border-radius: 50%;
                        margin-left: 20%;
                        color: black;
                    }
                }
            }
        }
    }
    .nav-account {
        padding: 8% 5%;

        &-title {
            font-size: 0.6vw;
            opacity: 0.5;
            color: $font-white;
            padding: 7% 0;
        }
        .nav-item {
            padding: 4% 0;
            .nav-link {
                color: $font-white;
                font-size: 1vw;
            }
        }
    }
    &-btn {
        border: none;
        background-color: transparent;
        color: $font-white;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 1vw;
        margin: 40% 0 0 8%;
    }
}