.sidebar {
  padding: 1.25rem 1.25rem;
  color: white;
  width: 20vw;
  height: 100vh;
}

.sidebar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 0;
}

.sidebar-brand .avator {
  width: 4vw;
  height: 2.9vw;
  padding-right: 1.25rem;
}

.sidebar-brand .avator-content {
  padding-top: 0.3125rem;
}

.sidebar-brand .avator-content .avator-title {
  font-weight: 100;
  font-size: 0.9375rem;
}

.sidebar-brand .avator-content .avator-sub-title {
  font-weight: 500;
  font-size: 0.75rem;
}

.sidebar hr {
  color: white;
}

.sidebar-nav .nav-media {
  padding: 0.625rem 0.625rem;
}

.sidebar-nav .nav-media-title {
  font-size: 0.625rem;
  opacity: 0.5;
  color: white;
  padding: 0.625rem 0;
}

.sidebar-nav .nav-media .nav-item {
  padding: 0.625rem 0;
}

.sidebar-nav .nav-media .nav-item .nav-link {
  color: white;
  font-size: 1.0625rem;
}

.sidebar-nav .nav-media .nav-item .nav-link .nav-badge {
  background-color: white;
  padding: 0.3125rem 0.625rem;
  border-radius: 50%;
  margin-left: 3.265rem;
  color: black;
}

.sidebar .nav-account {
  padding: 0.9375rem 0.625rem;
}

.sidebar .nav-account-title {
  font-size: 0.625rem;
  opacity: 0.5;
  color: white;
  padding: 0.75rem 0;
}

.sidebar .nav-account .nav-item {
  padding: 0.625rem 0;
}

.sidebar .nav-account .nav-item .nav-link {
  color: white;
  font-size: 1.0625rem;
}

.sidebar-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin: 8.75rem 0 0 0.75rem;
  font-size: 0.9375rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

hr {
  opacity: 0.2;
}

img {
  width: 100px;
}

body {
  background-image: url(../image/background-image.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Roboto', sans-serif;
}

.wrapping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background-color: transparent;
}

.main {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  background-color: white;
}

.main {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.625rem 1.875rem;
  width: 80vw;
}

.main .option-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0;
}

.main .option-bar .dropdown-category-btn {
  color: rgba(0, 0, 0, 0.712);
  font-size: 0.9375rem;
  padding-right: 1.25rem;
}

.main .option-bar .dropdown-category-btn i {
  padding-left: 0.625rem;
}

.main .option-bar .dropdown-category-menu {
  display: none;
}

.main .option-bar .dropdown-category-menu .dropdown-category-item {
  padding: 0.625rem 0;
}

.main .option-bar .dropdown-category-menu .dropdown-category-item .dropdown-category-link {
  color: rgba(0, 0, 0, 0.452);
}

.main .option-bar .dropdown-year-btn {
  color: rgba(0, 0, 0, 0.712);
  font-size: 0.8125rem;
}

.main .option-bar .dropdown-year-btn i {
  padding-left: 0.625rem;
}

.main .option-bar .dropdown-year-menu {
  display: none;
}

.main .option-bar .dropdown-year-menu .dropdown-year-item {
  padding: 0.625rem 0;
}

.main .option-bar .dropdown-year-menu .dropdown-year-item .dropdown-year-link {
  color: rgba(0, 0, 0, 0.452);
}

.main .option-bar-form .option-bar-input {
  padding: 0.625rem 3.125rem;
  width: 18vw;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  outline: none;
  margin-left: 25rem;
  font-size: 13px;
}

.main .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem 0;
}

.main .hero-img {
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
}

.main .hero .hero-conent {
  padding: 0.625rem 0 0 1.875rem;
}

.main .hero .hero-conent .hero-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(0, 0, 0, 0.712);
  padding-bottom: 0.625rem;
  font-size: 0.9375rem;
}

.main .hero .hero-conent .hero-title .hero-rating .hero-rating-highlight {
  color: rgba(0, 0, 255, 0.774);
}

.main .hero .hero-conent .hero-sub-title {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.452);
}

.main .hero .hero-conent .hero-text {
  color: rgba(0, 0, 0, 0.452);
  padding-top: 0.625rem;
  padding-bottom: 1.875rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 420px;
}

.main .hero .hero-conent .hero-text .read-more {
  display: none;
}

.main .hero .hero-conent .check-more {
  border: none;
  outline: none;
  background-color: transparent;
  color: blue;
  font-family: 'Roboto', sans-serif;
}

.main .hero .hero-dropdown-btn {
  border: 1px solid rgba(0, 0, 0, 0.452);
  padding: 0.625rem 0.9375rem;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.712);
  font-weight: 600;
  border-radius: 3px;
}

.main .hero .hero-dropdown-menu {
  display: none;
}

.main .hero .hero-dropdown-menu .hero-dropdown-item {
  padding: 0.625rem;
}

.main .hero .hero-dropdown-menu .hero-dropdown-item .hero-dropdown-link {
  color: rgba(0, 0, 0, 0.712);
  font-weight: 600;
  font-size: 0.75rem;
}

.main .other-seasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .other-seasons .season-img {
  width: 19vw;
  height: 19vh;
  padding: 0 0.625rem;
  border-radius: 15px;
}

.main .other-seasons .season-title {
  color: white;
  font-size: 0.875rem;
  position: relative;
  top: -25%;
  left: 10%;
}

.main .feeds-profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .feeds-profiles .feed .feed-header-menu {
  padding: 5% 0 0 0;
}

.main .feeds-profiles .feed .feed-header-menu .feed-title {
  padding-right: 0.625rem;
  color: rgba(0, 0, 0, 0.712);
  font-weight: 600;
  font-size: 0.9375rem;
}

.main .feeds-profiles .feed .container-episode-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .feeds-profiles .feed .container-episode-rating .episode-feed-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0;
}

.main .feeds-profiles .feed .container-episode-rating .episode-feed-section .episode-feed-img {
  width: 9vw;
  height: 9vh;
  border-radius: 5px;
}

.main .feeds-profiles .feed .container-episode-rating .episode-feed-section .episode-feed-content {
  padding-left: 0.9375rem;
}

.main .feeds-profiles .feed .container-episode-rating .episode-feed-section .episode-feed-content .feed-content-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .feeds-profiles .feed .container-episode-rating .episode-feed-section .episode-feed-content .feed-content-heading .feed-content-title {
  color: rgba(0, 0, 0, 0.712);
  padding-right: 0.625rem;
  font-size: 0.75rem;
}

.main .feeds-profiles .feed .container-episode-rating .episode-feed-section .episode-feed-content .feed-content-heading .feed-content-sub-title {
  color: rgba(0, 0, 0, 0.452);
  font-size: 0.625rem;
}

.main .feeds-profiles .feed .container-episode-rating .episode-feed-section .episode-feed-content .feed-content-text {
  color: rgba(0, 0, 0, 0.452);
  font-size: 0.8125rem;
  width: 30vw;
  padding-top: 0.625rem;
}

.main .feeds-profiles .feed .container-episode-rating .episode-feed-section .feed-content-btn {
  background-color: transparent;
  outline: none;
  width: 9vw;
  height: 6vh;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.712);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  margin: 0 1.25rem;
}

.main .feeds-profiles .feed .container-episode-rating .episode-feed-section .feed-content-btn i {
  padding-left: 0.625rem;
  font-weight: 600;
}

.main .feeds-profiles .feed .container-episode-rating .rating-feed {
  display: none;
}

.main .feeds-profiles .feed .container-episode-rating .rating-feed-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0;
}

.main .feeds-profiles .feed .container-episode-rating .rating-feed-section .rating-feed-img {
  width: 9vw;
  height: 9vh;
  border-radius: 5px;
}

.main .feeds-profiles .feed .container-episode-rating .rating-feed-section .rating-feed-content {
  padding-left: 0.9375rem;
}

.main .feeds-profiles .feed .container-episode-rating .rating-feed-section .rating-feed-content .rating-feed-content-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .feeds-profiles .feed .container-episode-rating .rating-feed-section .rating-feed-content .rating-feed-content-heading .rating-feed-content-title {
  color: rgba(0, 0, 0, 0.712);
  padding-right: 0.625rem;
  font-size: 0.75rem;
}

.main .feeds-profiles .feed .container-episode-rating .rating-feed-section .rating-feed-content .rating-feed-content-heading .rating-feed-content-sub-title {
  color: rgba(0, 0, 0, 0.452);
  font-size: 0.625rem;
}

.main .feeds-profiles .feed .container-episode-rating .rating-feed-section .rating-feed-content .rating-feed-content-text {
  color: rgba(0, 0, 0, 0.452);
  font-size: 0.8125rem;
  width: 30vw;
  padding-top: 0.625rem;
}

.main .feeds-profiles .feed .container-episode-rating .rating-feed-section .rating-feed-content-btn {
  background-color: transparent;
  outline: none;
  width: 9vw;
  height: 6vh;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.712);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  margin: 0 1.25rem;
}

.main .feeds-profiles .feed .container-episode-rating .rating-feed-section .rating-feed-content-btn i {
  padding-left: 0.625rem;
  font-weight: 600;
}

.main .feeds-profiles .card-carosal {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .feeds-profiles .card-carosal .card:nth-child(1) {
  display: none;
}

.main .feeds-profiles .card-carosal .card-img {
  width: 23vw;
  height: 63vh;
  border-radius: 10px;
}

.main .feeds-profiles .card-carosal .card .card-body {
  margin-top: -9.375rem;
  width: 22vw;
  color: white;
  padding-left: 1.25rem;
}

.main .feeds-profiles .card-carosal .card .card-body .card-group-btn {
  position: relative;
  top: -15vw;
  left: 18vw;
}

.main .feeds-profiles .card-carosal .card .card-body .card-group-btn .card-btn {
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 0.9375rem;
}

.main .feeds-profiles .card-carosal .card .card-body .card-title {
  font-size: 0.875rem;
}

.main .feeds-profiles .card-carosal .card .card-body .card-text {
  font-size: 0.875rem;
  width: 18vw;
  line-height: 135%;
  padding-top: 0.625rem;
}

.main .feeds-profiles .card-carosal .card:nth-child(3) {
  display: none;
}
/*# sourceMappingURL=style.css.map */